@model Cotizaciones.Models.Cotizacion

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Cotizacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Editar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>
